(
    creation_location: (
        line: 14,
        column: 18,
        file: "blueprint/error_handlers/error_handlers_cannot_be_fallible/src/lib.rs",
    ),
    components: [
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_6e40e01f",
                        module_path: "app_6e40e01f",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 15,
                    column: 8,
                    file: "blueprint/error_handlers/error_handlers_cannot_be_fallible/src/lib.rs",
                ),
            ),
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_6e40e01f",
                        module_path: "app_6e40e01f",
                    ),
                    import_path: "crate::error_handler",
                ),
                location: (
                    line: 16,
                    column: 10,
                    file: "blueprint/error_handlers/error_handlers_cannot_be_fallible/src/lib.rs",
                ),
            )),
        )),
    ],
)