(
    creation_location: (
        line: 13,
        column: 18,
        file: "reflection/tuples_are_supported/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_1bd0738c",
                        module_path: "app_1bd0738c",
                    ),
                    import_path: "crate::constructor_with_output_tuple",
                ),
                location: (
                    line: 14,
                    column: 8,
                    file: "reflection/tuples_are_supported/src/lib.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_1bd0738c",
                        module_path: "app_1bd0738c",
                    ),
                    import_path: "crate::handler_with_input_tuple",
                ),
                location: (
                    line: 18,
                    column: 8,
                    file: "reflection/tuples_are_supported/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)