(
    creation_location: (
        line: 26,
        column: 18,
        file: "dependency_injection/elided_lifetimes_are_handled/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_ddc3d7f1",
                        module_path: "app_ddc3d7f1",
                    ),
                    import_path: "self::A::new",
                ),
                location: (
                    line: 27,
                    column: 8,
                    file: "dependency_injection/elided_lifetimes_are_handled/src/lib.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_ddc3d7f1",
                        module_path: "app_ddc3d7f1",
                    ),
                    import_path: "self::Generic::new",
                ),
                location: (
                    line: 28,
                    column: 8,
                    file: "dependency_injection/elided_lifetimes_are_handled/src/lib.rs",
                ),
            ),
            lifecycle: Transient,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Route((
            path: "/",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_ddc3d7f1",
                        module_path: "app_ddc3d7f1",
                    ),
                    import_path: "self::handler::<self::Generic>",
                ),
                location: (
                    line: 29,
                    column: 8,
                    file: "dependency_injection/elided_lifetimes_are_handled/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)