(
    creation_location: (
        line: 67,
        column: 18,
        file: "blueprint/constructors/output_type_of_constructors_can_contain_generic_parameters/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_ea979460",
                        module_path: "app_ea979460",
                    ),
                    import_path: "crate::json",
                ),
                location: (
                    line: 68,
                    column: 8,
                    file: "blueprint/constructors/output_type_of_constructors_can_contain_generic_parameters/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_ea979460",
                        module_path: "app_ea979460",
                    ),
                    import_path: "crate::fallible",
                ),
                location: (
                    line: 69,
                    column: 8,
                    file: "blueprint/constructors/output_type_of_constructors_can_contain_generic_parameters/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_ea979460",
                        module_path: "app_ea979460",
                    ),
                    import_path: "crate::error_handler",
                ),
                location: (
                    line: 70,
                    column: 10,
                    file: "blueprint/constructors/output_type_of_constructors_can_contain_generic_parameters/src/lib.rs",
                ),
            )),
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_ea979460",
                        module_path: "app_ea979460",
                    ),
                    import_path: "crate::fallible_with_generic_error",
                ),
                location: (
                    line: 71,
                    column: 8,
                    file: "blueprint/constructors/output_type_of_constructors_can_contain_generic_parameters/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_ea979460",
                        module_path: "app_ea979460",
                    ),
                    import_path: "crate::generic_error_handler",
                ),
                location: (
                    line: 72,
                    column: 10,
                    file: "blueprint/constructors/output_type_of_constructors_can_contain_generic_parameters/src/lib.rs",
                ),
            )),
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_ea979460",
                        module_path: "app_ea979460",
                    ),
                    import_path: "crate::fallible_with_generic_error2",
                ),
                location: (
                    line: 73,
                    column: 8,
                    file: "blueprint/constructors/output_type_of_constructors_can_contain_generic_parameters/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_ea979460",
                        module_path: "app_ea979460",
                    ),
                    import_path: "crate::doubly_generic_error_handler",
                ),
                location: (
                    line: 74,
                    column: 10,
                    file: "blueprint/constructors/output_type_of_constructors_can_contain_generic_parameters/src/lib.rs",
                ),
            )),
            lints: {},
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_ea979460",
                        module_path: "app_ea979460",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 75,
                    column: 8,
                    file: "blueprint/constructors/output_type_of_constructors_can_contain_generic_parameters/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)