(
    creation_location: (
        line: 51,
        column: 18,
        file: "blueprint/error_handlers/generics_in_error_handlers_must_be_tied_to_the_error/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_51ea2925",
                        module_path: "app_51ea2925",
                    ),
                    import_path: "crate::generic_constructor",
                ),
                location: (
                    line: 52,
                    column: 8,
                    file: "blueprint/error_handlers/generics_in_error_handlers_must_be_tied_to_the_error/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_51ea2925",
                        module_path: "app_51ea2925",
                    ),
                    import_path: "crate::constructor1",
                ),
                location: (
                    line: 53,
                    column: 8,
                    file: "blueprint/error_handlers/generics_in_error_handlers_must_be_tied_to_the_error/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_51ea2925",
                        module_path: "app_51ea2925",
                    ),
                    import_path: "crate::generic_error_handler",
                ),
                location: (
                    line: 54,
                    column: 10,
                    file: "blueprint/error_handlers/generics_in_error_handlers_must_be_tied_to_the_error/src/lib.rs",
                ),
            )),
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_51ea2925",
                        module_path: "app_51ea2925",
                    ),
                    import_path: "crate::constructor2",
                ),
                location: (
                    line: 55,
                    column: 8,
                    file: "blueprint/error_handlers/generics_in_error_handlers_must_be_tied_to_the_error/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_51ea2925",
                        module_path: "app_51ea2925",
                    ),
                    import_path: "crate::doubly_generic_error_handler",
                ),
                location: (
                    line: 56,
                    column: 10,
                    file: "blueprint/error_handlers/generics_in_error_handlers_must_be_tied_to_the_error/src/lib.rs",
                ),
            )),
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_51ea2925",
                        module_path: "app_51ea2925",
                    ),
                    import_path: "crate::constructor3",
                ),
                location: (
                    line: 57,
                    column: 8,
                    file: "blueprint/error_handlers/generics_in_error_handlers_must_be_tied_to_the_error/src/lib.rs",
                ),
            ),
            lifecycle: Transient,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_51ea2925",
                        module_path: "app_51ea2925",
                    ),
                    import_path: "crate::triply_generic_error_handler",
                ),
                location: (
                    line: 58,
                    column: 10,
                    file: "blueprint/error_handlers/generics_in_error_handlers_must_be_tied_to_the_error/src/lib.rs",
                ),
            )),
            lints: {},
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_51ea2925",
                        module_path: "app_51ea2925",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 59,
                    column: 8,
                    file: "blueprint/error_handlers/generics_in_error_handlers_must_be_tied_to_the_error/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)