(
    creation_location: (
        line: 11,
        column: 18,
        file: "connection_info/connection_info_happy_path/src/lib.rs",
    ),
    components: [
        Route((
            path: "/",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a1f930e1",
                        module_path: "app_a1f930e1",
                    ),
                    import_path: "crate::get_connection_info",
                ),
                location: (
                    line: 12,
                    column: 8,
                    file: "connection_info/connection_info_happy_path/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)