(
    creation_location: (
        line: 37,
        column: 18,
        file: "blueprint/common/output_type_must_implement_into_response/src/lib.rs",
    ),
    components: [
        WrappingMiddleware((
            middleware: (
                callable: (
                    registered_at: (
                        crate_name: "app_11354b55",
                        module_path: "app_11354b55",
                    ),
                    import_path: "crate::wrapping_middleware",
                ),
                location: (
                    line: 38,
                    column: 8,
                    file: "blueprint/common/output_type_must_implement_into_response/src/lib.rs",
                ),
            ),
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_11354b55",
                        module_path: "app_11354b55",
                    ),
                    import_path: "crate::error_handler",
                ),
                location: (
                    line: 39,
                    column: 10,
                    file: "blueprint/common/output_type_must_implement_into_response/src/lib.rs",
                ),
            )),
        )),
        PostProcessingMiddleware((
            middleware: (
                callable: (
                    registered_at: (
                        crate_name: "app_11354b55",
                        module_path: "app_11354b55",
                    ),
                    import_path: "crate::pp_middleware",
                ),
                location: (
                    line: 40,
                    column: 8,
                    file: "blueprint/common/output_type_must_implement_into_response/src/lib.rs",
                ),
            ),
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_11354b55",
                        module_path: "app_11354b55",
                    ),
                    import_path: "crate::error_handler",
                ),
                location: (
                    line: 41,
                    column: 10,
                    file: "blueprint/common/output_type_must_implement_into_response/src/lib.rs",
                ),
            )),
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_11354b55",
                        module_path: "app_11354b55",
                    ),
                    import_path: "crate::request_scoped",
                ),
                location: (
                    line: 42,
                    column: 8,
                    file: "blueprint/common/output_type_must_implement_into_response/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_11354b55",
                        module_path: "app_11354b55",
                    ),
                    import_path: "crate::error_handler",
                ),
                location: (
                    line: 43,
                    column: 10,
                    file: "blueprint/common/output_type_must_implement_into_response/src/lib.rs",
                ),
            )),
            lints: {},
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_11354b55",
                        module_path: "app_11354b55",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 44,
                    column: 8,
                    file: "blueprint/common/output_type_must_implement_into_response/src/lib.rs",
                ),
            ),
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_11354b55",
                        module_path: "app_11354b55",
                    ),
                    import_path: "crate::error_handler",
                ),
                location: (
                    line: 45,
                    column: 10,
                    file: "blueprint/common/output_type_must_implement_into_response/src/lib.rs",
                ),
            )),
        )),
    ],
)