(
    creation_location: (
        line: 38,
        column: 18,
        file: "middlewares/next_handles_lifetimes/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_dc1710a5",
                        module_path: "app_dc1710a5",
                    ),
                    import_path: "crate::a",
                ),
                location: (
                    line: 39,
                    column: 8,
                    file: "middlewares/next_handles_lifetimes/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_dc1710a5",
                        module_path: "app_dc1710a5",
                    ),
                    import_path: "crate::b",
                ),
                location: (
                    line: 40,
                    column: 8,
                    file: "middlewares/next_handles_lifetimes/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_dc1710a5",
                        module_path: "app_dc1710a5",
                    ),
                    import_path: "crate::c",
                ),
                location: (
                    line: 41,
                    column: 8,
                    file: "middlewares/next_handles_lifetimes/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        WrappingMiddleware((
            middleware: (
                callable: (
                    registered_at: (
                        crate_name: "app_dc1710a5",
                        module_path: "app_dc1710a5",
                    ),
                    import_path: "crate::mw",
                ),
                location: (
                    line: 42,
                    column: 8,
                    file: "middlewares/next_handles_lifetimes/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_dc1710a5",
                        module_path: "app_dc1710a5",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 43,
                    column: 8,
                    file: "middlewares/next_handles_lifetimes/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)