/libs/ui_test_envs
/libs/target
/libs/vendor
/doc_examples/tutorial_envs/
/doc_examples/**/target
/examples/**/vendor
/examples/**/target
/examples/**/.cargo
/.cargo
/vendor
.DS_Store
*.snap
trace-*.json
/.cache/
/docs/api_reference/
.direnv/
