/libs/ui_tests/target
/libs/ui_tests/**/generated_app/
/libs/ui_tests/Cargo.lock
/libs/target
/libs/vendor
/ci_utils/target
/doc_examples/tutorial_envs/
/doc_examples/**/target
/examples/**/vendor
/examples/**/target
/examples/**/.cargo
/.cargo
/vendor
.DS_Store
*.snap
trace-*.json
/.cache/
/docs/api_reference/
.direnv/
