site_name: Pavex
repo_url: "https://github.com/LukeMathWalker/pavex"
repo_name: "LukeMathWalker/pavex"
edit_uri: "edit/main/docs/"
plugins:
  - social
  - search
  - awesome-pages
  - redirects:
      redirect_maps:
        'index.md': 'overview/index.md'
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
theme:
  name: material
  logo: assets/inverted_logo.png
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.footer
    - navigation.top
    - toc.follow
    - content.action.edit
    - content.code.copy
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: black
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
exclude_docs: |
  README.md
  Dockerfile
