site_name: Pavex
site_url: "https://pavex.dev/"
repo_url: "https://github.com/LukeMathWalker/pavex"
repo_name: "LukeMathWalker/pavex"
edit_uri: "edit/main/docs/"
plugins:
  - social
  - search
  - redirects:
      redirect_maps:
        'index.md': 'overview/index.md'
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      check_paths: true
      dedent_subsections: true
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
theme:
  name: material
  logo: assets/inverted_logo.png
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.footer
    - navigation.top
    - toc.integrate
    - toc.follow
    - content.action.edit
    - content.code.copy
    - content.code.annotate
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: black
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
nav:
  - "Overview":
      - overview/index.md
      - overview/why_pavex.md
  - "Getting Started":
      - "Installation": getting_started/index.md
      - getting_started/learning_paths.md
      - "Quickstart":
          - getting_started/quickstart/index.md
          - getting_started/quickstart/blueprint.md
          - getting_started/quickstart/routing.md
          - getting_started/quickstart/dependency_injection.md
          - getting_started/quickstart/error_handling.md
          - getting_started/quickstart/testing.md
          - getting_started/quickstart/going_further.md
  - "Guide":
      - guide/index.md
      - "Routing":
          - guide/routing/index.md
          - guide/routing/method_guards.md
          - guide/routing/path_patterns.md
          - guide/routing/request_handlers.md
  - "API Reference": api_reference/pavex/
exclude_docs: |
  README.md
  Dockerfile
extra_css:
  - ansi.css