(
    creation_location: (
        line: 31,
        column: 18,
        file: "blueprint/common/cannot_take_mutable_references_as_input/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_d24e80c4",
                        module_path: "app_d24e80c4",
                    ),
                    import_path: "crate::constructor",
                ),
                location: (
                    line: 32,
                    column: 8,
                    file: "blueprint/common/cannot_take_mutable_references_as_input/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        WrappingMiddleware((
            middleware: (
                callable: (
                    registered_at: (
                        crate_name: "app_d24e80c4",
                        module_path: "app_d24e80c4",
                    ),
                    import_path: "crate::wrapping",
                ),
                location: (
                    line: 33,
                    column: 8,
                    file: "blueprint/common/cannot_take_mutable_references_as_input/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        ErrorObserver((
            error_observer: (
                callable: (
                    registered_at: (
                        crate_name: "app_d24e80c4",
                        module_path: "app_d24e80c4",
                    ),
                    import_path: "crate::observer",
                ),
                location: (
                    line: 34,
                    column: 8,
                    file: "blueprint/common/cannot_take_mutable_references_as_input/src/lib.rs",
                ),
            ),
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_d24e80c4",
                        module_path: "app_d24e80c4",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 35,
                    column: 8,
                    file: "blueprint/common/cannot_take_mutable_references_as_input/src/lib.rs",
                ),
            ),
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_d24e80c4",
                        module_path: "app_d24e80c4",
                    ),
                    import_path: "crate::error_handler",
                ),
                location: (
                    line: 36,
                    column: 10,
                    file: "blueprint/common/cannot_take_mutable_references_as_input/src/lib.rs",
                ),
            )),
        )),
    ],
)