(
    creation_location: (
        line: 46,
        column: 18,
        file: "error_observers/error_observer_cannot_depend_transitively_on_fallible_constructors/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_01bbcc3d",
                        module_path: "app_01bbcc3d",
                    ),
                    import_path: "crate::a",
                ),
                location: (
                    line: 47,
                    column: 8,
                    file: "error_observers/error_observer_cannot_depend_transitively_on_fallible_constructors/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_01bbcc3d",
                        module_path: "app_01bbcc3d",
                    ),
                    import_path: "crate::b",
                ),
                location: (
                    line: 48,
                    column: 8,
                    file: "error_observers/error_observer_cannot_depend_transitively_on_fallible_constructors/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_01bbcc3d",
                        module_path: "app_01bbcc3d",
                    ),
                    import_path: "crate::error_handler",
                ),
                location: (
                    line: 49,
                    column: 10,
                    file: "error_observers/error_observer_cannot_depend_transitively_on_fallible_constructors/src/lib.rs",
                ),
            )),
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_01bbcc3d",
                        module_path: "app_01bbcc3d",
                    ),
                    import_path: "crate::c",
                ),
                location: (
                    line: 50,
                    column: 8,
                    file: "error_observers/error_observer_cannot_depend_transitively_on_fallible_constructors/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_01bbcc3d",
                        module_path: "app_01bbcc3d",
                    ),
                    import_path: "crate::error_handler",
                ),
                location: (
                    line: 51,
                    column: 10,
                    file: "error_observers/error_observer_cannot_depend_transitively_on_fallible_constructors/src/lib.rs",
                ),
            )),
            lints: {},
        )),
        ErrorObserver((
            error_observer: (
                callable: (
                    registered_at: (
                        crate_name: "app_01bbcc3d",
                        module_path: "app_01bbcc3d",
                    ),
                    import_path: "crate::error_observer",
                ),
                location: (
                    line: 52,
                    column: 8,
                    file: "error_observers/error_observer_cannot_depend_transitively_on_fallible_constructors/src/lib.rs",
                ),
            ),
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_01bbcc3d",
                        module_path: "app_01bbcc3d",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 53,
                    column: 8,
                    file: "error_observers/error_observer_cannot_depend_transitively_on_fallible_constructors/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)