(
    creation_location: (
        line: 6,
        column: 18,
        file: "middleware/pre/src/blueprint.rs",
    ),
    components: [
        pre_processing_middleware((
            coordinates: (
                id: "REDIRECT_TO_NORMALIZED",
                created_at: (
                    package_name: "pre",
                    package_version: "0.1.0",
                ),
                macro_name: "pre_process",
            ),
            registered_at: (
                line: 7,
                column: 8,
                file: "middleware/pre/src/blueprint.rs",
            ),
            error_handler: None,
        )),
        pre_processing_middleware((
            coordinates: (
                id: "REJECT_ANONYMOUS",
                created_at: (
                    package_name: "pre",
                    package_version: "0.1.0",
                ),
                macro_name: "pre_process",
            ),
            registered_at: (
                line: 9,
                column: 8,
                file: "middleware/pre/src/blueprint.rs",
            ),
            error_handler: None,
        )),
        routes_import((
            sources: some([
                "crate",
            ]),
            relative_to: "pre::blueprint",
            created_at: (
                package_name: "pre",
                package_version: "0.1.0",
            ),
            registered_at: (
                line: 10,
                column: 8,
                file: "middleware/pre/src/blueprint.rs",
            ),
        )),
        import((
            sources: some([
                "crate",
            ]),
            relative_to: "pre::blueprint",
            created_at: (
                package_name: "pre",
                package_version: "0.1.0",
            ),
            registered_at: (
                line: 11,
                column: 8,
                file: "middleware/pre/src/blueprint.rs",
            ),
        )),
    ],
)