(
    creation_location: (
        line: 33,
        column: 18,
        file: "dependency_injection/clone_nodes_are_only_added_where_needed/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_366b29bf",
                        module_path: "app_366b29bf",
                    ),
                    import_path: "crate::Singleton::new",
                ),
                location: (
                    line: 34,
                    column: 8,
                    file: "dependency_injection/clone_nodes_are_only_added_where_needed/src/lib.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: Some(CloneIfNecessary),
            error_handler: None,
            lints: {},
        )),
        WrappingMiddleware((
            middleware: (
                callable: (
                    registered_at: (
                        crate_name: "app_366b29bf",
                        module_path: "app_366b29bf",
                    ),
                    import_path: "crate::mw",
                ),
                location: (
                    line: 36,
                    column: 8,
                    file: "dependency_injection/clone_nodes_are_only_added_where_needed/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_366b29bf",
                        module_path: "app_366b29bf",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 37,
                    column: 8,
                    file: "dependency_injection/clone_nodes_are_only_added_where_needed/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)