(
    creation_location: (
        line: 35,
        column: 18,
        file: "path_parameters/path_parameters_happy_path/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_c1ac8ad4",
                        module_path: "app_c1ac8ad4",
                    ),
                    import_path: "pavex::request::path::PathParams::extract",
                ),
                location: (
                    line: 36,
                    column: 8,
                    file: "path_parameters/path_parameters_happy_path/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_c1ac8ad4",
                        module_path: "app_c1ac8ad4",
                    ),
                    import_path: "pavex::request::path::errors::ExtractPathParamsError::into_response",
                ),
                location: (
                    line: 40,
                    column: 6,
                    file: "path_parameters/path_parameters_happy_path/src/lib.rs",
                ),
            )),
            lints: {},
        )),
        Route((
            path: "/home/:home_id",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_c1ac8ad4",
                        module_path: "app_c1ac8ad4",
                    ),
                    import_path: "crate::get_home",
                ),
                location: (
                    line: 43,
                    column: 8,
                    file: "path_parameters/path_parameters_happy_path/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/home/:home_id/room/:room_id",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_c1ac8ad4",
                        module_path: "app_c1ac8ad4",
                    ),
                    import_path: "crate::get_room",
                ),
                location: (
                    line: 44,
                    column: 8,
                    file: "path_parameters/path_parameters_happy_path/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/town/*town",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_c1ac8ad4",
                        module_path: "app_c1ac8ad4",
                    ),
                    import_path: "crate::get_town",
                ),
                location: (
                    line: 45,
                    column: 8,
                    file: "path_parameters/path_parameters_happy_path/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)