(
    creation_location: (
        line: 26,
        column: 18,
        file: "reflection/common_response_types_are_supported/src/lib.rs",
    ),
    components: [
        Route((
            path: "/response",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_88bca0dc",
                        module_path: "app_88bca0dc",
                    ),
                    import_path: "crate::response",
                ),
                location: (
                    line: 27,
                    column: 8,
                    file: "reflection/common_response_types_are_supported/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/status_code",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_88bca0dc",
                        module_path: "app_88bca0dc",
                    ),
                    import_path: "crate::status_code",
                ),
                location: (
                    line: 28,
                    column: 8,
                    file: "reflection/common_response_types_are_supported/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/parts",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_88bca0dc",
                        module_path: "app_88bca0dc",
                    ),
                    import_path: "crate::parts",
                ),
                location: (
                    line: 29,
                    column: 8,
                    file: "reflection/common_response_types_are_supported/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/head",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_88bca0dc",
                        module_path: "app_88bca0dc",
                    ),
                    import_path: "crate::response_head",
                ),
                location: (
                    line: 30,
                    column: 8,
                    file: "reflection/common_response_types_are_supported/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)