(
    creation_location: (
        line: 18,
        column: 18,
        file: "blueprint/router/http_method_routing_variants/src/lib.rs",
    ),
    components: [
        Route((
            path: "/connect",
            method_guard: Some([
                "CONNECT",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a6a2e116",
                        module_path: "app_a6a2e116",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 19,
                    column: 8,
                    file: "blueprint/router/http_method_routing_variants/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/delete",
            method_guard: Some([
                "DELETE",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a6a2e116",
                        module_path: "app_a6a2e116",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 20,
                    column: 8,
                    file: "blueprint/router/http_method_routing_variants/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/get",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a6a2e116",
                        module_path: "app_a6a2e116",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 21,
                    column: 8,
                    file: "blueprint/router/http_method_routing_variants/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/head",
            method_guard: Some([
                "HEAD",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a6a2e116",
                        module_path: "app_a6a2e116",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 22,
                    column: 8,
                    file: "blueprint/router/http_method_routing_variants/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/options",
            method_guard: Some([
                "OPTIONS",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a6a2e116",
                        module_path: "app_a6a2e116",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 23,
                    column: 8,
                    file: "blueprint/router/http_method_routing_variants/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/patch",
            method_guard: Some([
                "PATCH",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a6a2e116",
                        module_path: "app_a6a2e116",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 24,
                    column: 8,
                    file: "blueprint/router/http_method_routing_variants/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/post",
            method_guard: Some([
                "POST",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a6a2e116",
                        module_path: "app_a6a2e116",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 25,
                    column: 8,
                    file: "blueprint/router/http_method_routing_variants/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/put",
            method_guard: Some([
                "PUT",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a6a2e116",
                        module_path: "app_a6a2e116",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 26,
                    column: 8,
                    file: "blueprint/router/http_method_routing_variants/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/trace",
            method_guard: Some([
                "TRACE",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a6a2e116",
                        module_path: "app_a6a2e116",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 27,
                    column: 8,
                    file: "blueprint/router/http_method_routing_variants/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/any",
            method_guard: Some([
                "CONNECT",
                "DELETE",
                "GET",
                "HEAD",
                "OPTIONS",
                "PATCH",
                "POST",
                "PUT",
                "TRACE",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a6a2e116",
                        module_path: "app_a6a2e116",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 28,
                    column: 8,
                    file: "blueprint/router/http_method_routing_variants/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/any_w_extensions",
            method_guard: Any,
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a6a2e116",
                        module_path: "app_a6a2e116",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 29,
                    column: 8,
                    file: "blueprint/router/http_method_routing_variants/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/mixed",
            method_guard: Some([
                "PATCH",
                "POST",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a6a2e116",
                        module_path: "app_a6a2e116",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 30,
                    column: 8,
                    file: "blueprint/router/http_method_routing_variants/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/custom",
            method_guard: Some([
                "CUSTOM",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a6a2e116",
                        module_path: "app_a6a2e116",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 34,
                    column: 8,
                    file: "blueprint/router/http_method_routing_variants/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/mixed_with_custom",
            method_guard: Some([
                "CUSTOM",
                "GET",
                "HEY",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a6a2e116",
                        module_path: "app_a6a2e116",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 35,
                    column: 8,
                    file: "blueprint/router/http_method_routing_variants/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)