(
    creation_location: (
        line: 25,
        column: 18,
        file: "dependency_injection/lifecycles/singletons_cannot_have_non_static_lifetime_parameters/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_381916a7",
                        module_path: "app_381916a7",
                    ),
                    import_path: "self::a",
                ),
                location: (
                    line: 26,
                    column: 8,
                    file: "dependency_injection/lifecycles/singletons_cannot_have_non_static_lifetime_parameters/src/lib.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_381916a7",
                        module_path: "app_381916a7",
                    ),
                    import_path: "self::B::new",
                ),
                location: (
                    line: 27,
                    column: 8,
                    file: "dependency_injection/lifecycles/singletons_cannot_have_non_static_lifetime_parameters/src/lib.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: Some(CloneIfNecessary),
            error_handler: None,
            lints: {},
        )),
        Route((
            path: "/",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_381916a7",
                        module_path: "app_381916a7",
                    ),
                    import_path: "self::handler",
                ),
                location: (
                    line: 28,
                    column: 8,
                    file: "dependency_injection/lifecycles/singletons_cannot_have_non_static_lifetime_parameters/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)