(
    creation_location: (
        line: 19,
        column: 18,
        file: "blueprint/constructors/constructor_error_spans_are_correct_for_prebuilt_constructors/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_a442c90a",
                        module_path: "app_a442c90a",
                    ),
                    import_path: "crate::generic_constructor",
                ),
                location: (
                    line: 20,
                    column: 5,
                    file: "blueprint/constructors/constructor_error_spans_are_correct_for_prebuilt_constructors/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a442c90a",
                        module_path: "app_a442c90a",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 21,
                    column: 8,
                    file: "blueprint/constructors/constructor_error_spans_are_correct_for_prebuilt_constructors/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)