(
    creation_location: (
        line: 13,
        column: 18,
        file: "blueprint/constructors/a_warning_is_emitted_for_unused_constructors/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_30248169",
                        module_path: "app_30248169",
                    ),
                    import_path: "crate::Unused::new",
                ),
                location: (
                    line: 14,
                    column: 8,
                    file: "blueprint/constructors/a_warning_is_emitted_for_unused_constructors/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
    ],
)