(
    creation_location: (
        line: 39,
        column: 18,
        file: "blueprint/constructors/trait_constraints_on_runtime_singletons/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_c5885cdb",
                        module_path: "app_c5885cdb",
                    ),
                    import_path: "crate::NonSendSingleton::new",
                ),
                location: (
                    line: 40,
                    column: 8,
                    file: "blueprint/constructors/trait_constraints_on_runtime_singletons/src/lib.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_c5885cdb",
                        module_path: "app_c5885cdb",
                    ),
                    import_path: "crate::NonSyncSingleton::new",
                ),
                location: (
                    line: 41,
                    column: 8,
                    file: "blueprint/constructors/trait_constraints_on_runtime_singletons/src/lib.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_c5885cdb",
                        module_path: "app_c5885cdb",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 44,
                    column: 8,
                    file: "blueprint/constructors/trait_constraints_on_runtime_singletons/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)