[package]
name = "server_sdk"
version = "0.1.0"
edition = "2021"

[package.metadata.px.generate]
generator_type = "cargo_workspace_binary"
generator_name = "bp"

[package.metadata.px.verify]
verifier_type = "cargo_workspace_binary"
verifier_name = "bp"
verifier_args = ["--check"]

[lints]
clippy = { all = "allow" }

[dependencies]
app = { version = "0.1.0", path = "../app", package = "app" }
http = { version = "1.1.0", package = "http" }
hyper = { version = "1.2.0", package = "hyper" }
pavex = { version = "0.1.22", path = "../../../libs/pavex", package = "pavex" }
pavex_matchit = { version = "0.7.4", package = "pavex_matchit" }
pavex_tracing = { version = "0.1.22", path = "../../../libs/pavex_tracing", package = "pavex_tracing" }
thiserror = { version = "1.0.58", package = "thiserror" }
