(
    creation_location: (
        line: 46,
        column: 18,
        file: "borrow_checker/multiple_consumers/a_copy_type_can_be_moved_twice/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_ba0e5d33",
                        module_path: "app_ba0e5d33",
                    ),
                    import_path: "crate::a",
                ),
                location: (
                    line: 47,
                    column: 8,
                    file: "borrow_checker/multiple_consumers/a_copy_type_can_be_moved_twice/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: Some(CloneIfNecessary),
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_ba0e5d33",
                        module_path: "app_ba0e5d33",
                    ),
                    import_path: "crate::b",
                ),
                location: (
                    line: 49,
                    column: 8,
                    file: "borrow_checker/multiple_consumers/a_copy_type_can_be_moved_twice/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_ba0e5d33",
                        module_path: "app_ba0e5d33",
                    ),
                    import_path: "crate::c",
                ),
                location: (
                    line: 50,
                    column: 8,
                    file: "borrow_checker/multiple_consumers/a_copy_type_can_be_moved_twice/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_ba0e5d33",
                        module_path: "app_ba0e5d33",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 51,
                    column: 8,
                    file: "borrow_checker/multiple_consumers/a_copy_type_can_be_moved_twice/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)