(
    constructors: [
        (
            registered_at: "app_blueprint",
            import_path: "crate :: http_client",
        ),
        (
            registered_at: "app_blueprint",
            import_path: "crate :: extract_path",
        ),
        (
            registered_at: "app_blueprint",
            import_path: "crate :: logger",
        ),
    ],
    constructors_error_handlers: {},
    component_lifecycles: {
        (
            registered_at: "app_blueprint",
            import_path: "crate :: http_client",
        ): Singleton,
        (
            registered_at: "app_blueprint",
            import_path: "crate :: extract_path",
        ): RequestScoped,
        (
            registered_at: "app_blueprint",
            import_path: "crate :: logger",
        ): Transient,
    },
    error_handler_locations: {},
    constructor_locations: {
        (
            registered_at: "app_blueprint",
            import_path: "crate :: http_client",
        ): (
            line: 39,
            column: 8,
            file: "examples/app_blueprint/src/lib.rs",
        ),
        (
            registered_at: "app_blueprint",
            import_path: "crate :: extract_path",
        ): (
            line: 40,
            column: 8,
            file: "examples/app_blueprint/src/lib.rs",
        ),
        (
            registered_at: "app_blueprint",
            import_path: "crate :: logger",
        ): (
            line: 41,
            column: 8,
            file: "examples/app_blueprint/src/lib.rs",
        ),
    },
    routes: [
        (
            path: "/home",
            method_guard: (
                allowed_methods: [
                    "GET",
                ],
            ),
            request_handler: (
                callable: (
                    registered_at: "app_blueprint",
                    import_path: "crate :: stream_file",
                ),
                location: (
                    line: 42,
                    column: 8,
                    file: "examples/app_blueprint/src/lib.rs",
                ),
            ),
            error_handler: None,
        ),
    ],
)