(
    creation_location: (
        line: 9,
        column: 18,
        file: "blueprint/error_observers/error_observers_must_return_the_unit_type/src/lib.rs",
    ),
    components: [
        ErrorObserver((
            error_observer: (
                callable: (
                    registered_at: (
                        crate_name: "app_e31b3bf3",
                        module_path: "app_e31b3bf3",
                    ),
                    import_path: "crate::error_observer",
                ),
                location: (
                    line: 10,
                    column: 8,
                    file: "blueprint/error_observers/error_observers_must_return_the_unit_type/src/lib.rs",
                ),
            ),
        )),
    ],
)