(
    creation_location: (
        line: 54,
        column: 18,
        file: "path_parameters/path_parameters_unsupported_types/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_53b2f5d8",
                        module_path: "app_53b2f5d8",
                    ),
                    import_path: "pavex::request::path::PathParams::extract",
                ),
                location: (
                    line: 55,
                    column: 8,
                    file: "path_parameters/path_parameters_unsupported_types/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_53b2f5d8",
                        module_path: "app_53b2f5d8",
                    ),
                    import_path: "pavex::request::path::errors::ExtractPathParamsError::into_response",
                ),
                location: (
                    line: 59,
                    column: 6,
                    file: "path_parameters/path_parameters_unsupported_types/src/lib.rs",
                ),
            )),
            lints: {},
        )),
        Route((
            path: "/a/:x",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_53b2f5d8",
                        module_path: "app_53b2f5d8",
                    ),
                    import_path: "crate::primitive",
                ),
                location: (
                    line: 62,
                    column: 8,
                    file: "path_parameters/path_parameters_unsupported_types/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/b/:x/:y",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_53b2f5d8",
                        module_path: "app_53b2f5d8",
                    ),
                    import_path: "crate::tuple",
                ),
                location: (
                    line: 63,
                    column: 8,
                    file: "path_parameters/path_parameters_unsupported_types/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/c/:x/:z",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_53b2f5d8",
                        module_path: "app_53b2f5d8",
                    ),
                    import_path: "crate::slice_ref",
                ),
                location: (
                    line: 64,
                    column: 8,
                    file: "path_parameters/path_parameters_unsupported_types/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/d/:x/:y",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_53b2f5d8",
                        module_path: "app_53b2f5d8",
                    ),
                    import_path: "crate::reference::<crate::MyStruct>",
                ),
                location: (
                    line: 65,
                    column: 8,
                    file: "path_parameters/path_parameters_unsupported_types/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/e/:x/:y",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_53b2f5d8",
                        module_path: "app_53b2f5d8",
                    ),
                    import_path: "crate::enum_",
                ),
                location: (
                    line: 66,
                    column: 8,
                    file: "path_parameters/path_parameters_unsupported_types/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/f/:x/:y",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_53b2f5d8",
                        module_path: "app_53b2f5d8",
                    ),
                    import_path: "crate::tuple_struct",
                ),
                location: (
                    line: 67,
                    column: 8,
                    file: "path_parameters/path_parameters_unsupported_types/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/g/:x/:y",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_53b2f5d8",
                        module_path: "app_53b2f5d8",
                    ),
                    import_path: "crate::unit_struct",
                ),
                location: (
                    line: 68,
                    column: 8,
                    file: "path_parameters/path_parameters_unsupported_types/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)