(
    creation_location: (
        line: 43,
        column: 18,
        file: "borrow_checker/triangle/triangle_with_middleware_can_be_solved_if_type_is_clonable/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_01492b3d",
                        module_path: "app_01492b3d",
                    ),
                    import_path: "crate::a",
                ),
                location: (
                    line: 44,
                    column: 8,
                    file: "borrow_checker/triangle/triangle_with_middleware_can_be_solved_if_type_is_clonable/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: Some(CloneIfNecessary),
            error_handler: None,
            lints: {},
        )),
        WrappingMiddleware((
            middleware: (
                callable: (
                    registered_at: (
                        crate_name: "app_01492b3d",
                        module_path: "app_01492b3d",
                    ),
                    import_path: "crate::mw",
                ),
                location: (
                    line: 46,
                    column: 8,
                    file: "borrow_checker/triangle/triangle_with_middleware_can_be_solved_if_type_is_clonable/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_01492b3d",
                        module_path: "app_01492b3d",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 47,
                    column: 8,
                    file: "borrow_checker/triangle/triangle_with_middleware_can_be_solved_if_type_is_clonable/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)