(
    creation_location: (
        line: 5,
        column: 18,
        file: "reflection/crate_resolution/transitive_dependencies_can_be_renamed/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "dep_a0f4586a",
                        module_path: "dep_a0f4586a",
                    ),
                    import_path: "crate::header1",
                ),
                location: (
                    line: 20,
                    column: 8,
                    file: "reflection/crate_resolution/transitive_dependencies_can_be_renamed/ephemeral_deps/dep/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "dep_a0f4586a",
                        module_path: "dep_a0f4586a",
                    ),
                    import_path: "crate::header2",
                ),
                location: (
                    line: 21,
                    column: 8,
                    file: "reflection/crate_resolution/transitive_dependencies_can_be_renamed/ephemeral_deps/dep/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Route((
            path: "/handler",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "dep_a0f4586a",
                        module_path: "dep_a0f4586a",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 22,
                    column: 8,
                    file: "reflection/crate_resolution/transitive_dependencies_can_be_renamed/ephemeral_deps/dep/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)