(
    creation_location: (
        line: 6,
        column: 18,
        file: "reflection/invalid_callable_path/src/lib.rs",
    ),
    components: [
        Route((
            path: "/home",
            method_guard: Some([
                "POST",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app",
                        module_path: "app",
                    ),
                    import_path: "my_f,",
                ),
                location: (
                    line: 13,
                    column: 8,
                    file: "reflection/invalid_callable_path/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)