(
    creation_location: (
        line: 8,
        column: 18,
        file: "blueprint/nesting/nesting_fails_if_parent_singleton_is_overridden/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_309371bf",
                        module_path: "app_309371bf",
                    ),
                    import_path: "crate::singleton",
                ),
                location: (
                    line: 9,
                    column: 8,
                    file: "blueprint/nesting/nesting_fails_if_parent_singleton_is_overridden/src/lib.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Route((
            path: "/parent",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_309371bf",
                        module_path: "app_309371bf",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 10,
                    column: 8,
                    file: "blueprint/nesting/nesting_fails_if_parent_singleton_is_overridden/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        NestedBlueprint((
            blueprint: (
                creation_location: (
                    line: 28,
                    column: 18,
                    file: "blueprint/nesting/nesting_fails_if_parent_singleton_is_overridden/src/lib.rs",
                ),
                components: [
                    Constructor((
                        constructor: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_309371bf",
                                    module_path: "app_309371bf",
                                ),
                                import_path: "crate::overridden_singleton",
                            ),
                            location: (
                                line: 29,
                                column: 8,
                                file: "blueprint/nesting/nesting_fails_if_parent_singleton_is_overridden/src/lib.rs",
                            ),
                        ),
                        lifecycle: Singleton,
                        cloning_strategy: None,
                        error_handler: None,
                        lints: {},
                    )),
                    Route((
                        path: "/child",
                        method_guard: Some([
                            "GET",
                        ]),
                        request_handler: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_309371bf",
                                    module_path: "app_309371bf",
                                ),
                                import_path: "crate::handler",
                            ),
                            location: (
                                line: 30,
                                column: 8,
                                file: "blueprint/nesting/nesting_fails_if_parent_singleton_is_overridden/src/lib.rs",
                            ),
                        ),
                        error_handler: None,
                    )),
                ],
            ),
            path_prefix: None,
            nesting_location: (
                line: 11,
                column: 8,
                file: "blueprint/nesting/nesting_fails_if_parent_singleton_is_overridden/src/lib.rs",
            ),
        )),
    ],
)