(
    creation_location: (
        line: 5,
        column: 18,
        file: "dependency_injection/user_middleware/src/blueprint.rs",
    ),
    components: [
        import((
            sources: some([
                "crate",
            ]),
            relative_to: "user_middleware::blueprint",
            created_at: (
                package_name: "user_middleware",
                package_version: "0.1.0",
            ),
            registered_at: (
                line: 6,
                column: 8,
                file: "dependency_injection/user_middleware/src/blueprint.rs",
            ),
        )),
        pre_processing_middleware((
            coordinates: (
                id: "REJECT_ANONYMOUS",
                created_at: (
                    package_name: "user_middleware",
                    package_version: "0.1.0",
                ),
                macro_name: "pre_process",
            ),
            registered_at: (
                line: 8,
                column: 8,
                file: "dependency_injection/user_middleware/src/blueprint.rs",
            ),
            error_handler: None,
        )),
        route((
            coordinates: (
                id: "GREET",
                created_at: (
                    package_name: "user_middleware",
                    package_version: "0.1.0",
                ),
                macro_name: "route",
            ),
            registered_at: (
                line: 9,
                column: 8,
                file: "dependency_injection/user_middleware/src/blueprint.rs",
            ),
            error_handler: None,
        )),
    ],
)