(
    creation_location: (
        line: 5,
        column: 18,
        file: "cookies/src/blueprint.rs",
    ),
    components: [
        import((
            sources: some([
                "pavex",
            ]),
            relative_to: "cookies::blueprint",
            created_at: (
                package_name: "cookies",
                package_version: "0.1.0",
            ),
            registered_at: (
                line: 6,
                column: 8,
                file: "cookies/src/blueprint.rs",
            ),
        )),
        post_processing_middleware((
            coordinates: (
                id: "INJECT_RESPONSE_COOKIES",
                created_at: (
                    package_name: "pavex",
                    package_version: "0.1.80",
                ),
                macro_name: "post_process",
            ),
            registered_at: (
                line: 10,
                column: 8,
                file: "cookies/src/blueprint.rs",
            ),
            error_handler: None,
        )),
        nested_blueprint((
            blueprint: (
                creation_location: (
                    line: 12,
                    column: 27,
                    file: "cookies/src/blueprint.rs",
                ),
                components: [
                    routes_import((
                        sources: some([
                            "crate::get_one",
                        ]),
                        relative_to: "cookies::blueprint",
                        created_at: (
                            package_name: "cookies",
                            package_version: "0.1.0",
                        ),
                        registered_at: (
                            line: 12,
                            column: 27,
                            file: "cookies/src/blueprint.rs",
                        ),
                    )),
                ],
            ),
            path_prefix: Some((
                path_prefix: "/get_one",
                registered_at: (
                    line: 12,
                    column: 8,
                    file: "cookies/src/blueprint.rs",
                ),
            )),
            domain: None,
            nested_at: (
                line: 12,
                column: 27,
                file: "cookies/src/blueprint.rs",
            ),
        )),
        nested_blueprint((
            blueprint: (
                creation_location: (
                    line: 13,
                    column: 27,
                    file: "cookies/src/blueprint.rs",
                ),
                components: [
                    routes_import((
                        sources: some([
                            "crate::get_all",
                        ]),
                        relative_to: "cookies::blueprint",
                        created_at: (
                            package_name: "cookies",
                            package_version: "0.1.0",
                        ),
                        registered_at: (
                            line: 13,
                            column: 27,
                            file: "cookies/src/blueprint.rs",
                        ),
                    )),
                ],
            ),
            path_prefix: Some((
                path_prefix: "/get_all",
                registered_at: (
                    line: 13,
                    column: 8,
                    file: "cookies/src/blueprint.rs",
                ),
            )),
            domain: None,
            nested_at: (
                line: 13,
                column: 27,
                file: "cookies/src/blueprint.rs",
            ),
        )),
        nested_blueprint((
            blueprint: (
                creation_location: (
                    line: 14,
                    column: 26,
                    file: "cookies/src/blueprint.rs",
                ),
                components: [
                    routes_import((
                        sources: some([
                            "crate::insert",
                        ]),
                        relative_to: "cookies::blueprint",
                        created_at: (
                            package_name: "cookies",
                            package_version: "0.1.0",
                        ),
                        registered_at: (
                            line: 14,
                            column: 26,
                            file: "cookies/src/blueprint.rs",
                        ),
                    )),
                ],
            ),
            path_prefix: Some((
                path_prefix: "/insert",
                registered_at: (
                    line: 14,
                    column: 8,
                    file: "cookies/src/blueprint.rs",
                ),
            )),
            domain: None,
            nested_at: (
                line: 14,
                column: 26,
                file: "cookies/src/blueprint.rs",
            ),
        )),
        nested_blueprint((
            blueprint: (
                creation_location: (
                    line: 15,
                    column: 26,
                    file: "cookies/src/blueprint.rs",
                ),
                components: [
                    routes_import((
                        sources: some([
                            "crate::delete",
                        ]),
                        relative_to: "cookies::blueprint",
                        created_at: (
                            package_name: "cookies",
                            package_version: "0.1.0",
                        ),
                        registered_at: (
                            line: 15,
                            column: 26,
                            file: "cookies/src/blueprint.rs",
                        ),
                    )),
                ],
            ),
            path_prefix: Some((
                path_prefix: "/delete",
                registered_at: (
                    line: 15,
                    column: 8,
                    file: "cookies/src/blueprint.rs",
                ),
            )),
            domain: None,
            nested_at: (
                line: 15,
                column: 26,
                file: "cookies/src/blueprint.rs",
            ),
        )),
    ],
)