(
    creation_location: (
        line: 61,
        column: 18,
        file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::constructor",
                ),
                location: (
                    line: 62,
                    column: 8,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::fallible_unit_constructor",
                ),
                location: (
                    line: 63,
                    column: 8,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::fallible_constructor",
                ),
                location: (
                    line: 64,
                    column: 8,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::error_handler",
                ),
                location: (
                    line: 65,
                    column: 10,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            )),
            lints: {},
        )),
        PreProcessingMiddleware((
            middleware: (
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::unit_pre",
                ),
                location: (
                    line: 67,
                    column: 8,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        PreProcessingMiddleware((
            middleware: (
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::fallible_unit_pre",
                ),
                location: (
                    line: 68,
                    column: 8,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            ),
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::error_handler",
                ),
                location: (
                    line: 69,
                    column: 10,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            )),
        )),
        WrappingMiddleware((
            middleware: (
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::unit_wrapping",
                ),
                location: (
                    line: 71,
                    column: 8,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        WrappingMiddleware((
            middleware: (
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::fallible_unit_wrapping",
                ),
                location: (
                    line: 72,
                    column: 8,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            ),
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::error_handler",
                ),
                location: (
                    line: 73,
                    column: 10,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            )),
        )),
        PostProcessingMiddleware((
            middleware: (
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::unit_post",
                ),
                location: (
                    line: 75,
                    column: 8,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        PostProcessingMiddleware((
            middleware: (
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::fallible_unit_post",
                ),
                location: (
                    line: 76,
                    column: 8,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            ),
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::error_handler",
                ),
                location: (
                    line: 77,
                    column: 10,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            )),
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 79,
                    column: 8,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/unit",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::unit_handler",
                ),
                location: (
                    line: 80,
                    column: 8,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/fallible_unit",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::fallible_unit_handler",
                ),
                location: (
                    line: 81,
                    column: 8,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            ),
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_56692d2c",
                        module_path: "app_56692d2c",
                    ),
                    import_path: "crate::error_handler",
                ),
                location: (
                    line: 82,
                    column: 10,
                    file: "blueprint/common/cannot_return_the_unit_type/src/lib.rs",
                ),
            )),
        )),
    ],
)