(
    creation_location: (
        line: 20,
        column: 18,
        file: "blueprint/prebuilts/prebuilt_does_not_need_to_be_send_and_sync_if_only_used_at_build_time/src/lib.rs",
    ),
    components: [
        PrebuiltType((
            input: (
                type_: (
                    registered_at: (
                        crate_name: "app_776ff188",
                        module_path: "app_776ff188",
                    ),
                    import_path: "crate::A",
                ),
                location: (
                    line: 21,
                    column: 8,
                    file: "blueprint/prebuilts/prebuilt_does_not_need_to_be_send_and_sync_if_only_used_at_build_time/src/lib.rs",
                ),
            ),
            cloning_strategy: None,
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_776ff188",
                        module_path: "app_776ff188",
                    ),
                    import_path: "crate::b",
                ),
                location: (
                    line: 22,
                    column: 8,
                    file: "blueprint/prebuilts/prebuilt_does_not_need_to_be_send_and_sync_if_only_used_at_build_time/src/lib.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Route((
            path: "/",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_776ff188",
                        module_path: "app_776ff188",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 23,
                    column: 8,
                    file: "blueprint/prebuilts/prebuilt_does_not_need_to_be_send_and_sync_if_only_used_at_build_time/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)