(
    creation_location: (
        line: 58,
        column: 18,
        file: "borrow_checker/diamond/diamond_can_be_solved_if_type_is_copy/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_74f21254",
                        module_path: "app_74f21254",
                    ),
                    import_path: "crate::a",
                ),
                location: (
                    line: 59,
                    column: 8,
                    file: "borrow_checker/diamond/diamond_can_be_solved_if_type_is_copy/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: Some(CloneIfNecessary),
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_74f21254",
                        module_path: "app_74f21254",
                    ),
                    import_path: "crate::b",
                ),
                location: (
                    line: 61,
                    column: 8,
                    file: "borrow_checker/diamond/diamond_can_be_solved_if_type_is_copy/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: Some(CloneIfNecessary),
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_74f21254",
                        module_path: "app_74f21254",
                    ),
                    import_path: "crate::c",
                ),
                location: (
                    line: 63,
                    column: 8,
                    file: "borrow_checker/diamond/diamond_can_be_solved_if_type_is_copy/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_74f21254",
                        module_path: "app_74f21254",
                    ),
                    import_path: "crate::d",
                ),
                location: (
                    line: 64,
                    column: 8,
                    file: "borrow_checker/diamond/diamond_can_be_solved_if_type_is_copy/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_74f21254",
                        module_path: "app_74f21254",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 65,
                    column: 8,
                    file: "borrow_checker/diamond/diamond_can_be_solved_if_type_is_copy/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)