<% extends 'steps' %>
<% block inner_steps %>
- name: Install Rust
  uses: actions-rust-lang/setup-rust-toolchain@v1.8.0
  with:
    rustflags: ""
    cache-workspaces: "./docs/tools/pxh -> ./target"
- name: Build CLI
  run: |
    cd docs/tools/pxh
    cargo build
- name: Store CLI artifact
  uses: actions/upload-artifact@v4
  with:
    name: pxh
    path: docs/tools/pxh/target/debug/pxh
<%- endblock %>
