<% extends 'steps' %>
<% block inner_steps %>
- name: Install Rust stable toolchain
  uses: actions-rust-lang/setup-rust-toolchain@v1.8.0
  with:
    components: rustfmt
    rustflags: ""
- uses: taiki-e/install-action@cargo-hack
- name: Install NASM for aws-lc-rs on Windows
  if: runner.os == 'Windows'
  uses: ilammy/setup-nasm@v1
- name: Install ninja-build tool for aws-lc-fips-sys on Windows
  if: runner.os == 'Windows'
  uses: seanmiddleditch/gha-setup-ninja@v6
- name: Install golang for aws-lc-fips-sys on macos
  if: runner.os == 'MacOS'
  uses: actions/setup-go@v6
  with:
    go-version: "1.25.0"
- name: Install cargo-hakari
  uses: taiki-e/install-action@v2
  with:
    tool: cargo-hakari
- name: Remove workspace hack from Cargo.toml
  run: |
    cargo hakari disable
    cargo hakari remove-deps -y
- name: Run Pavex tests with multiple feature combinations
  if: runner.os != 'Windows'
  run: |
    cargo hack -p pavex --feature-powerset --depth 2 test --tests
- name: Run Pavex tests with multiple feature combinations
  if: runner.os == 'Windows'
  run: |
    # FIPS only builds in `release` mode on Windows
    cargo hack -p pavex --feature-powerset --exclude-features="fips" --depth 2 test --tests
    cargo test -p pavex --release --tests --features fips,tls_crypto_provider_aws_lc_rs
<%- endblock %>
