(
    creation_location: (
        line: 22,
        column: 18,
        file: "blueprint/error_handlers/cannot_register_an_error_handler_for_an_async_infallible_constructor/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_c3c254cf",
                        module_path: "app_c3c254cf",
                    ),
                    import_path: "crate::infallible_constructor",
                ),
                location: (
                    line: 23,
                    column: 8,
                    file: "blueprint/error_handlers/cannot_register_an_error_handler_for_an_async_infallible_constructor/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_c3c254cf",
                        module_path: "app_c3c254cf",
                    ),
                    import_path: "crate::error_handler",
                ),
                location: (
                    line: 24,
                    column: 10,
                    file: "blueprint/error_handlers/cannot_register_an_error_handler_for_an_async_infallible_constructor/src/lib.rs",
                ),
            )),
            lints: {},
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_c3c254cf",
                        module_path: "app_c3c254cf",
                    ),
                    import_path: "crate::request_handler",
                ),
                location: (
                    line: 25,
                    column: 8,
                    file: "blueprint/error_handlers/cannot_register_an_error_handler_for_an_async_infallible_constructor/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)