(
    creation_location: (
        line: 4,
        column: 18,
        file: "routing/domain_guards/src/blueprint.rs",
    ),
    components: [
        nested_blueprint((
            blueprint: (
                creation_location: (
                    line: 5,
                    column: 18,
                    file: "routing/domain_guards/src/intro.rs",
                ),
                components: [
                    nested_blueprint((
                        blueprint: (
                            creation_location: (
                                line: 15,
                                column: 5,
                                file: "routing/domain_guards/src/intro.rs",
                            ),
                            components: [],
                        ),
                        path_prefix: None,
                        domain: Some((
                            domain: "pavex.dev",
                            registered_at: (
                                line: 7,
                                column: 8,
                                file: "routing/domain_guards/src/intro.rs",
                            ),
                        )),
                        nested_at: (
                            line: 7,
                            column: 28,
                            file: "routing/domain_guards/src/intro.rs",
                        ),
                    )),
                    nested_blueprint((
                        blueprint: (
                            creation_location: (
                                line: 19,
                                column: 5,
                                file: "routing/domain_guards/src/intro.rs",
                            ),
                            components: [],
                        ),
                        path_prefix: Some((
                            path_prefix: "/v1",
                            registered_at: (
                                line: 9,
                                column: 32,
                                file: "routing/domain_guards/src/intro.rs",
                            ),
                        )),
                        domain: Some((
                            domain: "api.pavex.dev",
                            registered_at: (
                                line: 9,
                                column: 8,
                                file: "routing/domain_guards/src/intro.rs",
                            ),
                        )),
                        nested_at: (
                            line: 9,
                            column: 46,
                            file: "routing/domain_guards/src/intro.rs",
                        ),
                    )),
                ],
            ),
            path_prefix: None,
            domain: None,
            nested_at: (
                line: 5,
                column: 8,
                file: "routing/domain_guards/src/blueprint.rs",
            ),
        )),
        nested_blueprint((
            blueprint: (
                creation_location: (
                    line: 5,
                    column: 18,
                    file: "routing/domain_guards/src/static_.rs",
                ),
                components: [
                    nested_blueprint((
                        blueprint: (
                            creation_location: (
                                line: 12,
                                column: 5,
                                file: "routing/domain_guards/src/static_.rs",
                            ),
                            components: [],
                        ),
                        path_prefix: None,
                        domain: Some((
                            domain: "pavex.dev",
                            registered_at: (
                                line: 6,
                                column: 8,
                                file: "routing/domain_guards/src/static_.rs",
                            ),
                        )),
                        nested_at: (
                            line: 6,
                            column: 28,
                            file: "routing/domain_guards/src/static_.rs",
                        ),
                    )),
                ],
            ),
            path_prefix: Some((
                path_prefix: "/static",
                registered_at: (
                    line: 6,
                    column: 8,
                    file: "routing/domain_guards/src/blueprint.rs",
                ),
            )),
            domain: None,
            nested_at: (
                line: 6,
                column: 26,
                file: "routing/domain_guards/src/blueprint.rs",
            ),
        )),
        nested_blueprint((
            blueprint: (
                creation_location: (
                    line: 5,
                    column: 18,
                    file: "routing/domain_guards/src/dynamic.rs",
                ),
                components: [
                    nested_blueprint((
                        blueprint: (
                            creation_location: (
                                line: 12,
                                column: 5,
                                file: "routing/domain_guards/src/dynamic.rs",
                            ),
                            components: [],
                        ),
                        path_prefix: None,
                        domain: Some((
                            domain: "{sub}.pavex.dev",
                            registered_at: (
                                line: 6,
                                column: 8,
                                file: "routing/domain_guards/src/dynamic.rs",
                            ),
                        )),
                        nested_at: (
                            line: 6,
                            column: 34,
                            file: "routing/domain_guards/src/dynamic.rs",
                        ),
                    )),
                ],
            ),
            path_prefix: Some((
                path_prefix: "/dynamic",
                registered_at: (
                    line: 7,
                    column: 8,
                    file: "routing/domain_guards/src/blueprint.rs",
                ),
            )),
            domain: None,
            nested_at: (
                line: 7,
                column: 27,
                file: "routing/domain_guards/src/blueprint.rs",
            ),
        )),
        nested_blueprint((
            blueprint: (
                creation_location: (
                    line: 5,
                    column: 18,
                    file: "routing/domain_guards/src/multi.rs",
                ),
                components: [
                    nested_blueprint((
                        blueprint: (
                            creation_location: (
                                line: 12,
                                column: 5,
                                file: "routing/domain_guards/src/multi.rs",
                            ),
                            components: [],
                        ),
                        path_prefix: None,
                        domain: Some((
                            domain: "{user_id}.{tenant_id}.pavex.dev",
                            registered_at: (
                                line: 6,
                                column: 8,
                                file: "routing/domain_guards/src/multi.rs",
                            ),
                        )),
                        nested_at: (
                            line: 6,
                            column: 50,
                            file: "routing/domain_guards/src/multi.rs",
                        ),
                    )),
                ],
            ),
            path_prefix: Some((
                path_prefix: "/multi",
                registered_at: (
                    line: 8,
                    column: 8,
                    file: "routing/domain_guards/src/blueprint.rs",
                ),
            )),
            domain: None,
            nested_at: (
                line: 8,
                column: 25,
                file: "routing/domain_guards/src/blueprint.rs",
            ),
        )),
        nested_blueprint((
            blueprint: (
                creation_location: (
                    line: 5,
                    column: 18,
                    file: "routing/domain_guards/src/catch_all.rs",
                ),
                components: [
                    nested_blueprint((
                        blueprint: (
                            creation_location: (
                                line: 12,
                                column: 5,
                                file: "routing/domain_guards/src/catch_all.rs",
                            ),
                            components: [],
                        ),
                        path_prefix: None,
                        domain: Some((
                            domain: "{*any}.example.dev",
                            registered_at: (
                                line: 6,
                                column: 8,
                                file: "routing/domain_guards/src/catch_all.rs",
                            ),
                        )),
                        nested_at: (
                            line: 6,
                            column: 37,
                            file: "routing/domain_guards/src/catch_all.rs",
                        ),
                    )),
                ],
            ),
            path_prefix: Some((
                path_prefix: "/catch_all",
                registered_at: (
                    line: 9,
                    column: 8,
                    file: "routing/domain_guards/src/blueprint.rs",
                ),
            )),
            domain: None,
            nested_at: (
                line: 9,
                column: 29,
                file: "routing/domain_guards/src/blueprint.rs",
            ),
        )),
        nested_blueprint((
            blueprint: (
                creation_location: (
                    line: 5,
                    column: 18,
                    file: "routing/domain_guards/src/fallback.rs",
                ),
                components: [
                    nested_blueprint((
                        blueprint: (
                            creation_location: (
                                line: 20,
                                column: 5,
                                file: "routing/domain_guards/src/fallback.rs",
                            ),
                            components: [],
                        ),
                        path_prefix: None,
                        domain: Some((
                            domain: "pavex.dev",
                            registered_at: (
                                line: 6,
                                column: 8,
                                file: "routing/domain_guards/src/fallback.rs",
                            ),
                        )),
                        nested_at: (
                            line: 6,
                            column: 28,
                            file: "routing/domain_guards/src/fallback.rs",
                        ),
                    )),
                    nested_blueprint((
                        blueprint: (
                            creation_location: (
                                line: 24,
                                column: 5,
                                file: "routing/domain_guards/src/fallback.rs",
                            ),
                            components: [],
                        ),
                        path_prefix: Some((
                            path_prefix: "/v1",
                            registered_at: (
                                line: 7,
                                column: 32,
                                file: "routing/domain_guards/src/fallback.rs",
                            ),
                        )),
                        domain: Some((
                            domain: "api.pavex.dev",
                            registered_at: (
                                line: 7,
                                column: 8,
                                file: "routing/domain_guards/src/fallback.rs",
                            ),
                        )),
                        nested_at: (
                            line: 7,
                            column: 46,
                            file: "routing/domain_guards/src/fallback.rs",
                        ),
                    )),
                    fallback_request_handler((
                        coordinates: (
                            id: "UNKNOWN_DOMAIN",
                            created_at: (
                                package_name: "domain_guards",
                                package_version: "0.1.0",
                            ),
                            macro_name: "fallback",
                        ),
                        registered_at: (
                            line: 9,
                            column: 8,
                            file: "routing/domain_guards/src/fallback.rs",
                        ),
                        error_handler: None,
                    )),
                ],
            ),
            path_prefix: Some((
                path_prefix: "/fallback",
                registered_at: (
                    line: 10,
                    column: 8,
                    file: "routing/domain_guards/src/blueprint.rs",
                ),
            )),
            domain: None,
            nested_at: (
                line: 10,
                column: 28,
                file: "routing/domain_guards/src/blueprint.rs",
            ),
        )),
    ],
)