(
    creation_location: (
        line: 9,
        column: 18,
        file: "reflection/local_callable_paths_must_be_prefixed_with_crate/src/lib.rs",
    ),
    components: [
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_33cee83d",
                        module_path: "app_33cee83d",
                    ),
                    import_path: "handler",
                ),
                location: (
                    line: 10,
                    column: 8,
                    file: "reflection/local_callable_paths_must_be_prefixed_with_crate/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)