(
    creation_location: (
        line: 32,
        column: 18,
        file: "reflection/non_static_methods_are_supported/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_40e90d31",
                        module_path: "app_40e90d31",
                    ),
                    import_path: "crate::Streamer::new",
                ),
                location: (
                    line: 33,
                    column: 8,
                    file: "reflection/non_static_methods_are_supported/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_40e90d31",
                        module_path: "app_40e90d31",
                    ),
                    import_path: "crate::LoggerFactory::new",
                ),
                location: (
                    line: 34,
                    column: 8,
                    file: "reflection/non_static_methods_are_supported/src/lib.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_40e90d31",
                        module_path: "app_40e90d31",
                    ),
                    import_path: "crate::LoggerFactory::logger",
                ),
                location: (
                    line: 35,
                    column: 8,
                    file: "reflection/non_static_methods_are_supported/src/lib.rs",
                ),
            ),
            lifecycle: Transient,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_40e90d31",
                        module_path: "app_40e90d31",
                    ),
                    import_path: "crate::Streamer::stream_file",
                ),
                location: (
                    line: 36,
                    column: 8,
                    file: "reflection/non_static_methods_are_supported/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)