[package]
name = "server"
version = "0.1.0"
edition = "2021"

[[bin]]
path = "src/bin/api.rs"
name = "api"

[dependencies]
tokio = { version = "1", features = ["full"] }
anyhow = "1"
server_sdk = { path = "../server_sdk" }
pavex = "0.1"
app = { path = "../app" }

# Configuration
dotenvy = "0.15"
figment = { version = "0.10", features = ["env", "yaml"] }
serde = { version = "1", features = ["derive"] }
humantime-serde = "1.1"

# Telemetry
tracing = "0.1"
tracing-subscriber = { version = "0.3", default-features = false, features = ["env-filter", "smallvec", "std", "registry", "tracing-log"] }
tracing-bunyan-formatter = "0.3"
pavex_tracing = "0.1"

[dev-dependencies]
reqwest = { version = "0.12", features = ["json"] }
jwt-simple = "0.11"
secrecy = "0.8"
serde_json = "1"
