<% extends 'steps' %>
<% block inner_steps %>
- name: Install Rust stable toolchain
  uses: actions-rust-lang/setup-rust-toolchain@v1.8.0
  with:
    cache-workspaces: "./libs -> ./target"
- name: Build API reference
  run: |
    cd libs
    cargo doc --package pavex --package pavex_cli_client --package pavex_session --package pavex_session_memory_store --no-deps
- name: Copy API reference files
  run: |
    mkdir -p docs/api_reference
    cp -r libs/target/doc/* docs/api_reference
- name: Set up QEMU
  uses: docker/setup-qemu-action@v3
- name: Set up Docker Buildx
  uses: docker/setup-buildx-action@v3
- name: Build and export to Docker
  uses: docker/build-push-action@v5
  with:
    context: docs/
    load: true
    tags: pavex-docs
- name: Build docs
  run: |
    docker run --rm -v ${PWD}:/docs pavex-docs build
- uses: actions/upload-artifact@v4
  with:
    name: docs
    path: site/
- name: Fix base
  run: |
    # Convert all "absolute" guide links in the reference to relative links so that we can scan for dead links
    sudo find . -type f -exec sed -i "s#https://pavex.dev/docs/#file:///${PWD}/site/#g" {} +
    sudo find . -type f -exec sed -i "s#https://pavex.dev/#file:///${PWD}/site/#g" {} +
- name: Link Checker
  uses: lycheeverse/lychee-action@v2
  with:
    fail: true
    args: |
      --base site 
      --exclude-loopback 
      --exclude-path="site/api_reference/pavex/http" 
      --exclude-path="site/api_reference/pavex/time" 
      --exclude-path="site/api_reference/help.html" 
      --exclude-path="site/api_reference/settings.html" 
      --exclude="https://doc.rust-lang.org/*" 
      --exclude="https://stackoverflow.com/*" 
      --exclude="https://github.com/LukeMathWalker/pavex/edit/main/*"
      --exclude="https://docs.rs/**/*" 
      --exclude-path="site/api_reference/static.files" 
      --exclude="https://fonts.gstatic.com" 
      --require-https 
      --no-progress 
      site
<%- endblock %>
