<% extends 'steps' %>
<% block inner_steps %>
- name: Install Rust
  uses: actions-rust-lang/setup-rust-toolchain@v1.8.0
  with:
    rustflags: ""
    cache-workspaces: "./doc_examples/tutorial_generator -> ./target"
- name: Build CLI
  run: |
    cd doc_examples/tutorial_generator
    cargo build
- name: Store CLI artifact
  uses: actions/upload-artifact@v4
  with:
    name: tutorial_generator
    path: doc_examples/tutorial_generator/target/debug/tutorial_generator
<%- endblock %>
