<% extends 'steps' %>
<% block inner_steps %>
- name: Set git identity
  run: |
    git config --global user.name "GitHub Actions"
    git config --global user.email "ci@pavex.dev"
- name: Install Rust stable toolchain
  uses: actions-rust-lang/setup-rust-toolchain@v1.8.0
  with:
    rustflags: ""
    components: rustfmt
    cache-workspaces: "./libs -> ./target"
- name: Download pavex CLI artifact
  uses: actions/download-artifact@v4
  with:
    name: pavex_cli_linux
    path: ~/.cargo/bin
- name: Download pavexc CLI artifact
  uses: actions/download-artifact@v4
  with:
    name: pavexc_cli_linux
    path: ~/.cargo/bin
- name: Download tutorial_generator CLI artifact
  uses: actions/download-artifact@v4
  with:
    name: tutorial_generator
    path: ~/.cargo/bin
- name: Mark as executable
  run: | 
    chmod +x ~/.cargo/bin/pavex
    chmod +x ~/.cargo/bin/pavexc
    chmod +x ~/.cargo/bin/tutorial_generator
- name: Activate pavex
  env:
    PAVEX_ACTIVATION_KEY: ${{ secrets.pavex_activation_key }}
  run: |
    pavex self activate
    pavexc self setup
- uses: cargo-bins/cargo-binstall@main
- name: Install cargo-px
  run: cargo binstall -y --github-token=${{ secrets.GITHUB_TOKEN }} cargo-px@0.1
- name: Install exa
  run: cargo binstall -y --github-token=${{ secrets.GITHUB_TOKEN }} exa@0.10
- name: Verify tutorials
  run: |
    cd doc_examples
    RUST_BACKTRACE=0 tutorial_generator --verify
<%- endblock %>
