<% extends 'steps' %>
<% block inner_steps %>
- name: Install Rust stable toolchain
  uses: actions-rust-lang/setup-rust-toolchain@v1.8.0
  with:
    components: rustfmt
    rustflags: ""
    cache-workspaces: "./libs -> ./target"
- uses: taiki-e/install-action@cargo-hack
<% include 'setup_pavex' %>
- name: Run Pavex tests with multiple feature combinations
  working-directory: libs
  run: |
    cargo hack -p pavex --feature-powerset --depth 2 test --tests
<%- endblock %>
