<% extends 'steps' %>
<% block inner_steps %>
- name: Install Rust stable toolchain
  uses: actions-rust-lang/setup-rust-toolchain@v1.8.0
  with:
    components: rustfmt
    rustflags: ""
    cache-workspaces: "./libs -> ./target"
<% include 'setup_pavex' %>
- name: Run UI tests
  env:
    PAVEX_TEST_CLI_PATH: << pavex_path(target) >>
    PAVEXC_TEST_CLI_PATH: << pavexc_path(target) >>
  working-directory: libs
  run: |
    cargo test --package pavex_cli
<%- endblock %>
