(
    creation_location: (
        line: 24,
        column: 18,
        file: "dependency_injection/lifecycles/non_static_references_cannot_be_singletons/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_d408236b",
                        module_path: "app_d408236b",
                    ),
                    import_path: "crate::a",
                ),
                location: (
                    line: 25,
                    column: 8,
                    file: "dependency_injection/lifecycles/non_static_references_cannot_be_singletons/src/lib.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_d408236b",
                        module_path: "app_d408236b",
                    ),
                    import_path: "crate::b",
                ),
                location: (
                    line: 26,
                    column: 8,
                    file: "dependency_injection/lifecycles/non_static_references_cannot_be_singletons/src/lib.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Route((
            path: "/",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_d408236b",
                        module_path: "app_d408236b",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 27,
                    column: 8,
                    file: "dependency_injection/lifecycles/non_static_references_cannot_be_singletons/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)