(
    creation_location: (
        line: 73,
        column: 18,
        file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
    ),
    components: [
        NestedBlueprint((
            blueprint: (
                creation_location: (
                    line: 75,
                    column: 22,
                    file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                ),
                components: [
                    Constructor((
                        constructor: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_d238c5d8",
                                    module_path: "app_d238c5d8",
                                ),
                                import_path: "crate::error",
                            ),
                            location: (
                                line: 76,
                                column: 12,
                                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                            ),
                        ),
                        lifecycle: RequestScoped,
                        cloning_strategy: None,
                        error_handler: None,
                        lints: {},
                    )),
                    Constructor((
                        constructor: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_d238c5d8",
                                    module_path: "app_d238c5d8",
                                ),
                                import_path: "crate::response",
                            ),
                            location: (
                                line: 77,
                                column: 12,
                                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                            ),
                        ),
                        lifecycle: RequestScoped,
                        cloning_strategy: None,
                        error_handler: None,
                        lints: {},
                    )),
                    Constructor((
                        constructor: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_d238c5d8",
                                    module_path: "app_d238c5d8",
                                ),
                                import_path: "crate::request_head",
                            ),
                            location: (
                                line: 78,
                                column: 12,
                                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                            ),
                        ),
                        lifecycle: RequestScoped,
                        cloning_strategy: None,
                        error_handler: None,
                        lints: {},
                    )),
                    Constructor((
                        constructor: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_d238c5d8",
                                    module_path: "app_d238c5d8",
                                ),
                                import_path: "crate::allowed_methods",
                            ),
                            location: (
                                line: 79,
                                column: 12,
                                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                            ),
                        ),
                        lifecycle: RequestScoped,
                        cloning_strategy: None,
                        error_handler: None,
                        lints: {},
                    )),
                    Constructor((
                        constructor: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_d238c5d8",
                                    module_path: "app_d238c5d8",
                                ),
                                import_path: "crate::raw_incoming_body",
                            ),
                            location: (
                                line: 80,
                                column: 12,
                                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                            ),
                        ),
                        lifecycle: RequestScoped,
                        cloning_strategy: None,
                        error_handler: None,
                        lints: {},
                    )),
                    Constructor((
                        constructor: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_d238c5d8",
                                    module_path: "app_d238c5d8",
                                ),
                                import_path: "crate::matched_path_pattern",
                            ),
                            location: (
                                line: 81,
                                column: 12,
                                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                            ),
                        ),
                        lifecycle: RequestScoped,
                        cloning_strategy: None,
                        error_handler: None,
                        lints: {},
                    )),
                    Constructor((
                        constructor: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_d238c5d8",
                                    module_path: "app_d238c5d8",
                                ),
                                import_path: "crate::raw_path_params",
                            ),
                            location: (
                                line: 82,
                                column: 12,
                                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                            ),
                        ),
                        lifecycle: RequestScoped,
                        cloning_strategy: None,
                        error_handler: None,
                        lints: {},
                    )),
                    Constructor((
                        constructor: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_d238c5d8",
                                    module_path: "app_d238c5d8",
                                ),
                                import_path: "crate::connection_info",
                            ),
                            location: (
                                line: 83,
                                column: 12,
                                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                            ),
                        ),
                        lifecycle: RequestScoped,
                        cloning_strategy: None,
                        error_handler: None,
                        lints: {},
                    )),
                ],
            ),
            path_prefix: None,
            nesting_location: (
                line: 74,
                column: 8,
                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
            ),
        )),
        NestedBlueprint((
            blueprint: (
                creation_location: (
                    line: 87,
                    column: 22,
                    file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                ),
                components: [
                    Constructor((
                        constructor: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_d238c5d8",
                                    module_path: "app_d238c5d8",
                                ),
                                import_path: "crate::error_ref",
                            ),
                            location: (
                                line: 88,
                                column: 12,
                                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                            ),
                        ),
                        lifecycle: RequestScoped,
                        cloning_strategy: None,
                        error_handler: None,
                        lints: {},
                    )),
                    Constructor((
                        constructor: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_d238c5d8",
                                    module_path: "app_d238c5d8",
                                ),
                                import_path: "crate::response_ref",
                            ),
                            location: (
                                line: 89,
                                column: 12,
                                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                            ),
                        ),
                        lifecycle: RequestScoped,
                        cloning_strategy: None,
                        error_handler: None,
                        lints: {},
                    )),
                    Constructor((
                        constructor: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_d238c5d8",
                                    module_path: "app_d238c5d8",
                                ),
                                import_path: "crate::request_head_ref",
                            ),
                            location: (
                                line: 90,
                                column: 12,
                                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                            ),
                        ),
                        lifecycle: RequestScoped,
                        cloning_strategy: None,
                        error_handler: None,
                        lints: {},
                    )),
                    Constructor((
                        constructor: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_d238c5d8",
                                    module_path: "app_d238c5d8",
                                ),
                                import_path: "crate::allowed_methods_ref",
                            ),
                            location: (
                                line: 91,
                                column: 12,
                                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                            ),
                        ),
                        lifecycle: RequestScoped,
                        cloning_strategy: None,
                        error_handler: None,
                        lints: {},
                    )),
                    Constructor((
                        constructor: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_d238c5d8",
                                    module_path: "app_d238c5d8",
                                ),
                                import_path: "crate::raw_incoming_body_ref",
                            ),
                            location: (
                                line: 92,
                                column: 12,
                                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                            ),
                        ),
                        lifecycle: RequestScoped,
                        cloning_strategy: None,
                        error_handler: None,
                        lints: {},
                    )),
                    Constructor((
                        constructor: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_d238c5d8",
                                    module_path: "app_d238c5d8",
                                ),
                                import_path: "crate::matched_path_pattern_ref",
                            ),
                            location: (
                                line: 93,
                                column: 12,
                                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                            ),
                        ),
                        lifecycle: RequestScoped,
                        cloning_strategy: None,
                        error_handler: None,
                        lints: {},
                    )),
                    Constructor((
                        constructor: (
                            callable: (
                                registered_at: (
                                    crate_name: "app_d238c5d8",
                                    module_path: "app_d238c5d8",
                                ),
                                import_path: "crate::raw_path_params_ref",
                            ),
                            location: (
                                line: 97,
                                column: 12,
                                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
                            ),
                        ),
                        lifecycle: RequestScoped,
                        cloning_strategy: None,
                        error_handler: None,
                        lints: {},
                    )),
                ],
            ),
            path_prefix: None,
            nesting_location: (
                line: 86,
                column: 8,
                file: "dependency_injection/some_types_cannot_be_constructed/src/lib.rs",
            ),
        )),
    ],
)