(
    creation_location: (
        line: 14,
        column: 18,
        file: "blueprint/wrapping_middlewares/must_take_next_as_input/src/lib.rs",
    ),
    components: [
        WrappingMiddleware((
            middleware: (
                callable: (
                    registered_at: (
                        crate_name: "app_0cb36ccc",
                        module_path: "app_0cb36ccc",
                    ),
                    import_path: "crate::mw",
                ),
                location: (
                    line: 15,
                    column: 8,
                    file: "blueprint/wrapping_middlewares/must_take_next_as_input/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_0cb36ccc",
                        module_path: "app_0cb36ccc",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 16,
                    column: 8,
                    file: "blueprint/wrapping_middlewares/must_take_next_as_input/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)