<% set output %>
<% include 'permissions' %>
steps:
- name: Checkout repository from source repo
  if: |
    (github.event_name == 'push' && github.event.repository.full_name == github.repository)
  uses: actions/checkout@v4
- name: Checkout repository from fork
  if: |
    github.event_name == 'repository_dispatch' &&
    github.event.client_payload.slash_command.args.named.sha != '' &&
    contains(
      github.event.client_payload.pull_request.head.sha,
      github.event.client_payload.slash_command.args.named.sha
    )
  uses: actions/checkout@v4
  with:
    ref: "refs/pull/${{ github.event.client_payload.pull_request.number }}/merge"
- uses: ./.github/actions/create-check
  if: ${{ github.event_name != 'push' }}
  with:
    pr_number: ${{ github.event.client_payload.pull_request.number }}
    job: << job_name >>
    workflow: "Build and store docs artifacts"
    run_id: ${{ github.run_id }}
    github_token: ${{ secrets.GITHUB_TOKEN }}
<%- block inner_steps %>
<% endblock %>
- uses: ./.github/actions/finalize-check
  if: ${{ always() && github.event_name != 'push' }}
  with:
    pr_number: ${{ github.event.client_payload.pull_request.number }}
    job: << job_name >>
    conclusion: ${{ job.status }}
    github_token: ${{ secrets.GITHUB_TOKEN }}
<%- endset %>
