(
    creation_location: (
        line: 42,
        column: 18,
        file: "borrow_checker/multiple_consumers/a_non_clonable_input_type_cannot_be_moved_twice/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_335ca652",
                        module_path: "app_335ca652",
                    ),
                    import_path: "crate::a",
                ),
                location: (
                    line: 44,
                    column: 8,
                    file: "borrow_checker/multiple_consumers/a_non_clonable_input_type_cannot_be_moved_twice/src/lib.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_335ca652",
                        module_path: "app_335ca652",
                    ),
                    import_path: "crate::b",
                ),
                location: (
                    line: 45,
                    column: 8,
                    file: "borrow_checker/multiple_consumers/a_non_clonable_input_type_cannot_be_moved_twice/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_335ca652",
                        module_path: "app_335ca652",
                    ),
                    import_path: "crate::c",
                ),
                location: (
                    line: 46,
                    column: 8,
                    file: "borrow_checker/multiple_consumers/a_non_clonable_input_type_cannot_be_moved_twice/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_335ca652",
                        module_path: "app_335ca652",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 47,
                    column: 8,
                    file: "borrow_checker/multiple_consumers/a_non_clonable_input_type_cannot_be_moved_twice/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)