(
    creation_location: (
        line: 23,
        column: 18,
        file: "reflection/self_as_generic_parameter_is_supported/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_d89d2d61",
                        module_path: "app_d89d2d61",
                    ),
                    import_path: "crate::A::new",
                ),
                location: (
                    line: 24,
                    column: 8,
                    file: "reflection/self_as_generic_parameter_is_supported/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_d89d2d61",
                        module_path: "app_d89d2d61",
                    ),
                    import_path: "crate::error_handler",
                ),
                location: (
                    line: 25,
                    column: 10,
                    file: "reflection/self_as_generic_parameter_is_supported/src/lib.rs",
                ),
            )),
            lints: {},
        )),
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_d89d2d61",
                        module_path: "app_d89d2d61",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 26,
                    column: 8,
                    file: "reflection/self_as_generic_parameter_is_supported/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)