(
    creation_location: (
        line: 37,
        column: 18,
        file: "path_parameters/path_parameters_non_existing_fields/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_c51a0844",
                        module_path: "app_c51a0844",
                    ),
                    import_path: "pavex::request::path::PathParams::extract",
                ),
                location: (
                    line: 38,
                    column: 8,
                    file: "path_parameters/path_parameters_non_existing_fields/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: (
                        crate_name: "app_c51a0844",
                        module_path: "app_c51a0844",
                    ),
                    import_path: "pavex::request::path::errors::ExtractPathParamsError::into_response",
                ),
                location: (
                    line: 42,
                    column: 6,
                    file: "path_parameters/path_parameters_non_existing_fields/src/lib.rs",
                ),
            )),
            lints: {},
        )),
        Route((
            path: "/a/:x",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_c51a0844",
                        module_path: "app_c51a0844",
                    ),
                    import_path: "crate::missing_one",
                ),
                location: (
                    line: 45,
                    column: 8,
                    file: "path_parameters/path_parameters_non_existing_fields/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/b/:x",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_c51a0844",
                        module_path: "app_c51a0844",
                    ),
                    import_path: "crate::missing_two",
                ),
                location: (
                    line: 46,
                    column: 8,
                    file: "path_parameters/path_parameters_non_existing_fields/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/c",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_c51a0844",
                        module_path: "app_c51a0844",
                    ),
                    import_path: "crate::no_path_params",
                ),
                location: (
                    line: 47,
                    column: 8,
                    file: "path_parameters/path_parameters_non_existing_fields/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)