(
    creation_location: (
        line: 17,
        column: 18,
        file: "borrow_checker/cannot_borrow_singletons_as_mut/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_a7783cd8",
                        module_path: "app_a7783cd8",
                    ),
                    import_path: "self::build",
                ),
                location: (
                    line: 18,
                    column: 8,
                    file: "borrow_checker/cannot_borrow_singletons_as_mut/src/lib.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: None,
            error_handler: None,
            lints: {},
        )),
        Route((
            path: "/",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_a7783cd8",
                        module_path: "app_a7783cd8",
                    ),
                    import_path: "self::handler",
                ),
                location: (
                    line: 19,
                    column: 8,
                    file: "borrow_checker/cannot_borrow_singletons_as_mut/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)