(
    creation_location: (
        line: 13,
        column: 18,
        file: "reflection/static_methods_are_supported/src/lib.rs",
    ),
    components: [
        Route((
            path: "/home",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_d50c6d0c",
                        module_path: "app_d50c6d0c",
                    ),
                    import_path: "crate::Streamer::stream_file",
                ),
                location: (
                    line: 14,
                    column: 8,
                    file: "reflection/static_methods_are_supported/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)