(
    creation_location: (
        line: 5,
        column: 18,
        file: "request_data/query_params/src/blueprint.rs",
    ),
    components: [
        import((
            sources: some([
                "pavex",
            ]),
            relative_to: "query_params::blueprint",
            created_at: (
                package_name: "query_params",
                package_version: "0.1.0",
            ),
            registered_at: (
                line: 6,
                column: 8,
                file: "request_data/query_params/src/blueprint.rs",
            ),
        )),
        routes_import((
            sources: some([
                "crate",
            ]),
            relative_to: "query_params::blueprint",
            created_at: (
                package_name: "query_params",
                package_version: "0.1.0",
            ),
            registered_at: (
                line: 8,
                column: 8,
                file: "request_data/query_params/src/blueprint.rs",
            ),
        )),
    ],
)