(
    creation_location: (
        line: 40,
        column: 18,
        file: "dependency_injection/downstream_code_needs_both_owned_and_ref_to_same_type/src/lib.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: (
                        crate_name: "app_40ab089d",
                        module_path: "app_40ab089d",
                    ),
                    import_path: "crate::Scoped::new",
                ),
                location: (
                    line: 41,
                    column: 8,
                    file: "dependency_injection/downstream_code_needs_both_owned_and_ref_to_same_type/src/lib.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: Some(CloneIfNecessary),
            error_handler: None,
            lints: {},
        )),
        WrappingMiddleware((
            middleware: (
                callable: (
                    registered_at: (
                        crate_name: "app_40ab089d",
                        module_path: "app_40ab089d",
                    ),
                    import_path: "crate::mw",
                ),
                location: (
                    line: 43,
                    column: 8,
                    file: "dependency_injection/downstream_code_needs_both_owned_and_ref_to_same_type/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        WrappingMiddleware((
            middleware: (
                callable: (
                    registered_at: (
                        crate_name: "app_40ab089d",
                        module_path: "app_40ab089d",
                    ),
                    import_path: "crate::mw2",
                ),
                location: (
                    line: 44,
                    column: 8,
                    file: "dependency_injection/downstream_code_needs_both_owned_and_ref_to_same_type/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: (
                        crate_name: "app_40ab089d",
                        module_path: "app_40ab089d",
                    ),
                    import_path: "crate::handler",
                ),
                location: (
                    line: 45,
                    column: 8,
                    file: "dependency_injection/downstream_code_needs_both_owned_and_ref_to_same_type/src/lib.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)