name: Verify dependencies

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deny-check:
    name: cargo-deny check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        checks:
          - advisories
          - licenses
    steps:
      - uses: actions/checkout@v4
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          command: check ${{ matrix.checks }}
          arguments: --all-features
          manifest-path: libs/Cargo.toml
