name: Links (Fail Fast)

on:
  pull_request:
    branches:
      - main

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: |
            .github
            docs

      - name: Link Checker
        uses: lycheeverse/lychee-action@v1
        with:
          fail: true
          args: --base . --verbose --no-progress docs
